%h1
  Welcome!
  .hero-unit
    %h1
      It's time to log
    %p
      but not from here
    %p
      = link_to 'Sign In', new_user_session_path, class: "btn btn-primary btn-large"
      = link_to 'Sign Up', new_user_session_path, class: "btn btn-primary btn-large"
