%h1 Listing sensors

%table
  %tr
    %th
    %th
    %th

  - @sensors.each do |sensor|
    %tr
      %td= link_to 'Show', sensor
      %td= link_to 'Edit', edit_sensor_path(sensor)
      %td= link_to 'Destroy', sensor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sensor', new_sensor_path
